* {
	margin: 0;
	padding: 0;
}

a img {
	border: 0;
}

div#top div#nav {
	float: left;
	clear: both;
	width: 100%;
	height: 52px;
	margin: 22px 0 0;
}

div#top div#nav ul {
	float: left;
	width: 100%;
	height: 52px;
	list-style-type: none;
}

div#nav ul li {
	float: left;
	height: 52px;
}

div#nav ul li a {
	border: 0;
	height: 52px;
	display: block;
	line-height: 52px;
	text-indent: -9999px;
}

div#header {
	/* margin: -1px 0 0; */
	height: 418px;
	width: 100%;
}

div#header div.wrap {
	height: 418px;
	width: 100%;
	margin: 0;
	text-align: left;
	/*background : url(images/header-bg.png) no-repeat 50% 0;*/
}

div#header div#slide-holder {
	width: 100%;
	height: 418px;
	position: absolute;
}

div#header div#slide-holder div#slide-runner {
	width: 100%;
	height: 418px;
	overflow: hidden;
	position: absolute;
}

div#header div#slide-holder div#slide-runner img {
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	height: 100%;
	/* display: block; */
	/* 	width: 100% !important;
	height: auto !important; */
}

div#header div#slide-holder img {
	margin: 0;
	display: none;
	position: absolute;
}

div#header div#slide-holder div#slide-controls {
	left: 0;
	bottom: 228px;
	width: 100%;
	height: 46px;
	display: none;
	position: absolute;
	/*background : url(images/slide-bg.png) 0 0;*/
}

div#header div#slide-holder div#slide_text {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 120px;
	display: none;
	position: absolute;
	background: #3c3c3c;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity = 60); /* IE */
	-moz-opacity: 0.6; /* Mozilla */
	opacity: 0.6; /* CSS3 */
	-khtml-opacity: .50;
}

div#header div#slide-holder div#slide_text:HOVER {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity = 80); /* IE */
	-moz-opacity: .8; /* Mozilla */
	opacity: .8; /* CSS3 */
	-khtml-opacity: .8;
}

div#header div#slide-holder div#slide_text p.text {
	float: left;
	color: #fff;
	display: inline;
	font-size: 1.2em;
	line-height: 1.2em;
	margin: auto;
	height: 83px;
}

div#header div#slide-holder div#slide_text p#slide-readmore a {
	display: block;
	float: right;
	color: #487429;
	padding: 3px 5px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

div#header div#slide-holder div#slide_text p#slide-readmore a:hover {
	background: #487429;
	color: #f7f5ed;
}

div#header div#slide-holder div#slide-controls p#slide-nav {
	float: right;
	height: 16px;
	display: inline;
	margin: 11px 15px 0 0;
}

div#header div#slide-holder div#slide-controls p#slide-nav a {
	float: left;
	width: 16px;
	height: 16px;
	display: inline;
	font-size: 11px;
	margin: 0 5px 0 0;
	line-height: 16px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background-position: 0 0;
	background-repeat: no-repeat;
}

div#header div#slide-holder div#slide-controls p#slide-nav a.on {
	background-position: 0 -17px;
}

div#header div#slide-holder div#slide-controls p#slide-nav a {
	background-image: url(../img/slideshow/nav_16.png);
}

div#nav ul li a {
	background: url(../img/slideshow/nav.png) no-repeat;
}

div#header div#slide-holder div#slide_arrows {
	z-index: 50;
	top: 120px;
	width: 100%;
	height: 46px;
	display: none;
	position: absolute;
}

div#header div#slide-holder div#slide_arrows a#slide_prev {
	background-image: url(../img/slideshow/prev_48.png);
	z-index: 100;
	float: left;
	width: 48px;
	height: 48px;
	cursor: pointer;
	margin-left: 20px;
}

div#header div#slide-holder div#slide_arrows a#slide_next {
	background-image: url(../img/slideshow/next_48.png);
	z-index: 100;
	float: right;
	width: 48px;
	height: 48px;
	cursor: pointer;
	margin-right: 20px;
}

div#header div#slide-holder div#slide_arrows a#slide_prev:hover, div#header div#slide-holder div#slide_arrows a#slide_next:hover
	{
	background-position: 0 -48px;
}

#slide_text .slide-infos {
	width: 1000px;
	margin: auto;
	position: relative;
	height: 120px;
}

.info_title {
	display: none;
	color: #fff;
	font-style: italic;
}

.slide-link:HOVER {
	font-weight: bold;
	text-decoration: underline;
}

#slide-holder h1 a {
	color: #fff;
	text-decoration: none;
}

#slide-holder h1 a:HOVER {
	color: #fff;
	text-decoration: underline;
}