/*========================= HTML and BODY ============================*/
html, body {
	color: #656360;
	background: #f1ede8 url("../img/noise-all.png");
	font-size: 12px;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: "Open Sans", sans-serif, "Helvetica", "Arial", sans-serif;
	/* Open Sans - Default CCAFS font family */
	font-size: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	min-width: 1016px;
}

button, input, select, textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle
}

button, html input[type=button], input[type=reset], input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer;
	*overflow: visible
}
/*========================= HEADER ============================*/
div#main_header {
	width: 100%;
	/*height: 76px;
	background: #8ba357;
	*/
	height: 260px;
	background: #fff;
	margin: 0 auto;
	margin-top: 0;
	-webkit-box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.4);
	-o-box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.4);
	box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.4);
	z-index: 1000;
}
div#top_header{
	width: 960px;
	height: 161px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 28px;
}

div#header_content {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 76px;
	min-width: 1000px;
}

div#center-head {
	margin: auto;
	width: 956px;
}


#main_header #platform_title{
	display: block;
	width: 600px;
	height: 106px;
	float: left;
	margin-top: 40px;
	min-width: 600px;
}
#main_header #platform_title a{
	text-decoration:  none;
	width: 100%;
	color: #000000;
	font-size: 90%;
	font-weight: bold;
}
#main_header #platform_title a:HOVER,#main_header #platform_title a:LINK,#main_header #platform_title a:VISITED,#main_header #platform_title a:ACTIVE{
	text-decoration:  none;
}
#main_header #platform_title h1{
	width: 100%;
	margin-top: 30px;
}
#main_header #ccafs_logo{
	display: block;
	width: 350px;
	height: 106px;
	float: right;
	margin-top: 40px;
}
#main_header #ccafs_logo a{
	background: url(../img/logo.png) no-repeat top right;
	display: block;
	width: 350px;
	height: 106px;
	float: right;
	/*margin-top: 30px;
	background-size: 100%;*/
	 background-size: contain; 
}
div#menu_main {
	width: 100%;
	height: 70px;
	text-align: center;
	float: left;
	/*margin-left: 15px;*/
	position: relative;
	background: #47939c;
	bottom: 0;
}

ul#menu {
	color: #487429;
	position: absolute;
	top: 18px;
	height: 40px;
	margin-left: 180px;
}

ul#menu li {
	margin-left: 5px;
	display: table-cell;
	vertical-align: middle;
	height: 40px;
}

ul#menu li a {
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
	font-size: 1.2em;
	padding: 0 10px;
	line-height: 1.5em;
	color: #fff;
	font-weight: lighter;
}

ul#menu li a.active, ul#menu li a:hover {
	color: #fff;
	background: #c3d69b;
}

div#head_logo {
	float: left;
	height: 62px;
	margin-top: 2px;
	text-align: right;
	width: 351px;
	padding: 5px;
	background: url(../img/tpe_header.png) no-repeat center center;
	/* background-size: 100%; */
	background-size: 351px 70px;
	/* background-size:cover; */
	/* background-size: contain; */
	background-color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.nav-secondary{
	text-align: right; 
	font-size: 14px;
	color: #656360;
}
.nav-secondary a{ 
	color: #656360;
}
.nav-secondary a:HOVER{ 
	color: #000000;
}
.nav-secondary a:ACTIVE,.nav-secondary a:LINK,.nav-secondary a:VISITED{
	text-decoration: none;
}

/*================================ CONTENT ==============================*/
.main_content {
	position: relative;
	width: 100%;
	background: transparent;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -180px auto;
	color: #000;
}

.content {
	height: 100%;
	width: 100%;
}

.clear_footer {
	height: 180px;
	clear: both;
}

/*========================= SLIDER ============================*/
div#tpe_slider {
	width: 100%;
	/* background: #191919; */
	background: #fff;
	text-align: center;
	color: #fff;
	height: 418px;
	background: url(../img/slideshow/nature-photo.jpg) no-repeat center
		center;
	background-size: cover;
}

#tpe_slider .slide {
	margin: 0;
	position: relative;
	height: 418px;
	width: 100%;
}

/*========================= HOME SECTIONS ============================*/
div#tpe_section {
	width: 100%;
	height: 400px;
	text-align: center;
	margin: auto;
}

#tpe_section .box {
	margin: auto;
	position: relative;
	height: 392px;
	width: 1000px;
}

#hold {
	bottom: 20px;
	height: 392px;
	position: absolute;
}

#tpe_partiners .box {
	margin: auto;
	position: relative;
	height: 148px;
	width: 1000px;
}

#tpe_section .tpe_box {
	float: left;
	height: 392px;
	width: 298px;
	-webkit-box-shadow: 5px 5px 5px #3c3c3c;
	-o-box-shadow: 5px 5px 5px #3c3c3c;
	box-shadow: 5px 5px 5px #3c3c3c;
}

#box_one {
	background: #5ca0b8;
	margin-right: 20px;
	margin-left: 33px;
}

#box_two {
	background: #7E944E;
	margin-right: 20px;
}

#box_three {
	background: #DAA003;
	margin-right: 33px;
}

#tpe_partiners .tpe_box {
	width: 260px;
	float: left;
	padding: 5px;
	height: 110px;
	margin: 5px;
}

.tpe_box .box_col {
	display: block;
	width: 298px;
	height: 384px;
	background: #fff;
}

.box_col p {
	text-align: left;
	overflow: hidden;
	max-height: 100px;
	color: #000000;
	font-family: "Open sans", "Helvetica", "Arial", sans-serif;
	font-size: 1em;
	line-height: 1.2em;
	font-weight: normal;
	padding: 10px 5px;
}

.box_col img {
	display: block;
	width: 140px !important;
	height: auto !important;
	margin: auto;
}

.box_col h4 {
	text-align: center;
	font-family: 'Open sans', 'Trebuchet MS', Helvetica, sans-serif;
	font-size: 1.5em;
	line-height: 1.25em;
	padding: 6px;
}

.box_col h4:HOVER {
	text-decoration: underline;
}

.box_col a {
	text-align: center;
	color: #2945c0;
	text-decoration: none;
	font: 12px/100% "Open Sans", Arial, Helvetica, sans-serif;
}

/*===================== FOOTER ======================*/
.footer {
	width: 100%;
	/* background: #e2e2e2; */
	background: #fff;
	overflow: hidden;
	height: 180px;
	clear: both;
	position: relative;
	color: #656360;
	-webkit-box-shadow: 0 0 5px #3c3c3c;
	-o-box-shadow: 0 0 5px #3c3c3c;
	box-shadow: 0 0 5px #3c3c3c;
	min-width: 1016px;
	padding-bottom: 20px;
}

.footer_contents {
	width: 1000px;
	margin: auto;
	padding-top: 10px;
}

.footer_contents table tr td {
	text-align: center;
	width: 33%;
}

div#follow_us {
	width: 280px;
	height: 70px;
	float: right;
	text-align: center;
	color: #656360;
	font-weight: bold;
	font-size: 14px;
}

.left-border {
	border-left: 1px solid #e2e2e2;
}

div#tpe_copyright {
	text-align: center;
	font-size: 0.75em;
	line-height: 1.2em;
}

#tpe_copyright a {
	text-decoration: none;
	color: #656360;
	font-size: 1.2em;
	line-height: 1.2em;
}

.collab {
	width: 220px;
	height: 100px;
	margin: auto;
}

.collab img {
	max-height: 100%;
	max-width: 100%;
}

/*============================================================*/
.readmore {
	height: auto;
	margin-top: 5px;
}

p.readmore a {
	display: block;
	float: right;
	color: #487429;
	padding: 3px 5px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

p.readmore a:hover {
	background: #487429;
	color: #f7f5ed;
}

img {
	text-decoration: none;
	border: 0px
}

h1, h2, h3, h4 {
	color: #656360;
}

/*=================== TPE TOOL ============================*/
div#map_main {
	height: 100%;
	min-height: 880px;
	height: auto;
	width: 100%;
	margin: 10px auto;
}

div#tpe_map {
	min-height: 880px;
	height: 100%;
	overflow: hidden;
}

.tpe_map {
	/*width: 100%;*/
	
}

.tpe_map_min {
	width: 100%;
}

.tpe_map_max {
	width: 100%;
}

#legend-container {
	background: transparent;
	padding: 10px;
	margin: 10px;
	/*Hide the legend on page load, only display or visible when Google Map is initialized */
	/* display: none; */
	z-index: 1000;
	border: none;
	padding: 10px;
}

.legend_text {
	float: left;
	line-height: 23px;
}

#legend {
	border: none;
	-webkit-box-shadow: 0 1px 3px #666;
	-o-box-shadow: 0 1px 3px #666;
	box-shadow: 0 1px 3px #666;
	filter: alpha(opacity = 90); /* IE */
	-moz-opacity: 0.9; /* Mozilla */
	opacity: 0.9; /* CSS3 */
	background: #fff;
	padding: 6px;
}

.legend-color-box {
	float: left;
	width: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin-right: 6px;
	height: 20px;
}

div#info,div#info-static {
	display: none;
	position: absolute;
	font-size: 13px;
	/* text-align: center; */
	text-align: left;
	box-shadow: 0 4px 6px -4px #333;
	padding: 5px 10px;
	background: rgb(255, 255, 255);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%,
		rgba(245, 245, 245, 1) 100%);
	border: rgb(229, 229, 229) 1px solid;
	/*width: 250px;*/
	width: auto;
	height: auto;
	z-index: 60;
	color: #656360;
}
#info{
top: 10px;
right: 300px;
}
#info-static {
top: 10px;
right: 300px;
}

#info table,#info table tr,#info table tr td,#info-static table,#info-static table tr,#info-static table tr td,#info-static table tr th{
	font-size: 10px;
	border:1px solid #656360;
}
#info table,#info-static table{
	border-collapse: collapse;
}

div#info_details div {
	clear: both;
}

#info h2, #info-climate h2,#info-static h2 {
	margin-top: 0px;
	margin-bottom: 5px;
}
#info-static h2 {
background: url(img/close.png no-repeat right);
}

.select_infos_top {
	color: #990000;
	margin-left: 100px;
	text-align: center;
	font-weight: bold;
}

div#tpe_map_canvas {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%;
	cursor: crosshair;
}

.tpe_plot, .env_container, .plot_lai, .plot_pcew, .rain_radiation,
	.plot_temprain, .plot_box, .soil_plot, .plot_rainsum, .plot_raincum,
	.plot_wagt {
	background: #fff;
	height: 200px;
	cursor: pointer;
	margin-top: 5px;
}

div#env_container, div#plot_lai, div#plot_pcew, div#plot_temprain, div#rain_radiation,
	div#plot_box, div#soil_plot, div#plot_rainsum, div#plot_raincum, div#plot_wagt
	{
	height: 100%;
	width: 100%;
}

div#select_variables {
	z-index: 30;
	width: 250px;
	height: auto;
	padding: 2px;
	background: transparent;
	position: fixed;
	left: 20px;
	top: 90px;
/*top: 262px;*/
}

#select_variables.ui-draggable-dragging {
	/* background: #009900;  */
	
}

#select_variables h3 {
	font-weight: bold;
	margin: auto;
	text-align: left;
	background: #fff;
	font-size: 1.2em;
	line-height: 1.2em;
	margin-top: 10px;
}

div#tpe_analytics {
	z-index: 20;
	width: 253px;
	height: auto;
	padding: 2px;
	background: transparent;
	position: absolute;
	top: 20px;
	right: 5px;
}

/* select option:nth-child(odd) {
	color: black;
	background-color: rgb(53, 140, 61);
} */

/* select option:hover {
background-color: rgb(53, 140, 61);
} */

/* select option{
background: #009900;
} */
.map-options-select {
	height: 26px;
	width: 100%;
	padding: 0 25px 0 12px;
	background: white url("../img/down-16.png") no-repeat right 5px center;
	border: 1px solid;
	border-color: #a8acbc #babdcc #c0c3d2;
	border-radius: 13px;
	-webkit-appearance: textfield;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px #fcfcfc;
	box-shadow: inset 0 1px #e5e7ed, 0 1px #fcfcfc;
	font-style: italic;
}

.map-options-select:focus {
	outline: 0;
	border-color: #66b1ee;
	-webkit-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
	box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}

#variables {
	background: #fff;
	padding: 5px;
	margin: 4px;
	padding: 5px;
	-webkit-box-shadow: 0 1px 3px #666;
	-o-box-shadow: 0 1px 3px #666;
	box-shadow: 0 1px 3px #666;
	filter: alpha(opacity = 90); /* IE */
	-moz-opacity: 0.9; /* Mozilla */
	opacity: 0.9; /* CSS3 */
}

#analytics {
	padding: 5px;
	padding-top: 0;
}

#select_variables h4, #tpe_analytics h4, #analytics h3,
	#legend-container h3 {
	margin: 4px;
	text-align: center;
	font-weight: lighter;
	font-size: 1.5em;
	line-height: 1.5em;
	border: none;
	background-size: 30px 30px;
	color: #444444;
	cursor: pointer;
	border: none;
	-webkit-box-shadow: 0 1px 3px #666;
	-o-box-shadow: 0 1px 3px #666;
	box-shadow: 0 1px 3px #666;
	filter: alpha(opacity = 90); /* IE */
	-moz-opacity: 0.9; /* Mozilla */
	opacity: 0.9; /* CSS3 */
	background-color: #fff;
}
/* #select_variables h4{
	cursor: crosshair!important;
} */
#legend-container h3 {
	padding: 4px 18px;
	margin: 0;
	margin-bottom: 5px;
}

#select_variables h4:HOVER, #tpe_analytics h4:HOVER, #analytics h3:HOVER
	{
	color: #444444;
}

.rollover {
	background: url(../img/collapse_expand_rollover.png) no-repeat top right;
}

.collapsed {
	background: url(../img/arrow_up-32.png) no-repeat right;
}

.expanded {
	background: url(../img/arrow_down-32.png) no-repeat right;
}

.special_attention {
	font-weight: bold;
	color: #990000;
}
/*===================== Contact Us ==============================*/
div#contact_main {
	width: 1000px;
	margin: 10px auto;
	height: 100%;
	height: auto;
}

.contact-info h1 {
	font-size: 1.8em !important;
	line-height: 1.5em !important;
}

div#contact_form {
	width: 588px;
	float: left;
	padding: 5px;
	text-align: left;
	font-size: 1.2em;
	line-height: 1.2em;
}

div#contact_message {
	width: 578px;
	padding: 5px;
}

.team {
	background: #fff;
	height: auto;
	float: left;
	-webkit-box-shadow: 0 1px 3px #666;
	-o-box-shadow: 0 1px 3px #666;
	box-shadow: 0 1px 3px #666;
	padding: 10px;
	margin: 10px auto;
}

.team h4 {
	font-size: 1.4em;
	line-height: 1.5em;
}

.member {
	height: auto;
	float: left;
	margin: 10px auto;
}

.member p {
	font-size: 0.75em;
	font-weight: normal;
}

.member_photo {
	width: 70px;
	height: 70px;
	-webkit-box-shadow: 0 1px 3px #666;
	-o-box-shadow: 0 1px 3px #666;
	box-shadow: 0 1px 3px #666;
	clear: left;
	margin-right: 10px;
	float: left;
}

.member_photo img {
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
}

.member_infos {
	float: left;
	width: 600px;
}

.member_infos p {
	margin: 0 !important;
}

table#contact_table {
	width: 270px;
	border: none;
	padding: 0;
}

table#contact_table tr td {
	text-align: left;
	color: #656360;
	font-size: 16px;
	width: 100%;
}

div#contact_pane, div#contact_address {
	width: 270px;
	padding: 5px;
	-webkit-box-shadow: 0 1px 3px #666;
	-o-box-shadow: 0 1px 3px #666;
	box-shadow: 0 1px 3px #666;
	/* 	font-size: 1.2em;
	line-height: 1.2em; */
	margin-bottom: 15px;
	background: #fff;
}

#contact_address ul li {
	font-size: 1em;
	line-height: 1.5em;
}

#contact_address ul {
	margin-top: 10px;
}

#contact_address ul li {
	text-decoration: none;
	text-align: left;
	list-style-type: none;
	line-height: 1.5em;
}

textarea {
	width: 263px;
	padding: 0;
	margin: auto;
}

#contact_pane input[type="text"] {
	width: 263px;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #656360;
	margin: 1em 0;
	padding: 0;
}

#send:hover {
	/* border: none;*/
	background: #487429;
	box-shadow: 0px 0px 1px #777;
}

/*============================documentation=================*/
div#documentation, div#contribute, div#workshops {
	width: 1000px;
	margin: 10px auto;
	background: transparent;
}

.news-min {
	float: left;
	height: 140px;
	width: 540px;
}

.news-min h4 a {
	font-size: 1em;
	line-height: 1.2em;
	color: #444444;
	font-weight: bold;
}

.news-min p {
	height: 100px !important;
	overflow: hidden !important;
}

#contact_main h1, #join_form h1, #contribute h1, #workshops h1 {
	font-size: 1.8em;
	line-height: 1.8em;
	color: #656360;
	text-align: left;
}

#contribute .sec_cont p, .sec_details p, #workshops p {
	color: #000000;
	font-size: 16px;
	line-height: 1.5em;
	text-align: left;
	margin-bottom: 15px;
}

.sec_cont {
	-webkit-box-shadow: 0 1px 3px #666;
	-o-box-shadow: 0 1px 3px #666;
	box-shadow: 0 1px 3px #666;
	background: #fff;
	padding: 10px;
	margin-top: 20px;
}

.workshop {
	height: 200px;
	border-bottom: 1px solid #656360;
	margin: 5px auto;
}

.workshop:HOVER {
	background: #c3d69b;
	cursor: pointer;
}

.workshop-text, .workshop-img {
	float: left;
	overflow: hidden;
	/* clear: left; */
}

.workshop-img {
	width: 180px;
	height: 180px;
	margin-right: 10px;
	/* clear: left; */
}

.workshop-img img {
	width: 180px;
	height: 180px;
	max-width: 180px;
	max-height: 180px;
}

#documentation h1 {
	font-size: 1.8em;
	line-height: 1.8em;
	color: #656360;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 10px;
}

.tpe_sec p {
	text-align: left;
	font-size: 1em;
	line-height: 1.2em;
	color: #35393F;
	font-weight: normal;
	overflow: hidden;
	height: 96px;
	width: 540px;
}

.pane_left {
	width: 700px;
	/* padding: 10px; */
	float: left;
	margin-bottom: 15px;
}

.pane_right {
	width: 280px;
	float: left;
	margin-left: 20px;
	/* background: #fff; */
	margin-top: 10px;
	/* height: 612px; */
	margin-bottom: 30px;
	height: auto;
}

.tpe_sec {
	width: 690px;
	padding: 5px;
	height: 140px;
	margin: 6px auto;
	text-align: left;
	font-size: 1em;
	line-height: 1.2em;
	float: left;
	cursor: pointer;
	-webkit-box-shadow: 0 1px 3px #666;
	-o-box-shadow: 0 1px 3px #666;
	box-shadow: 0 1px 3px #666;
	background: #fff;
}

.doc-list {
	width: 690px;
	padding: 5px;
	height: 140px;
	margin: 6px auto;
	text-align: left;
	font-size: 1.2em;
	line-height: 1.2em;
	float: left;
	cursor: pointer;
	-webkit-box-shadow: 0 1px 3px #666;
	-o-box-shadow: 0 1px 3px #666;
	box-shadow: 0 1px 3px #666;
	background: #fff;
}

.doc-list p {
	text-align: left;
	font-size: 1em;
	line-height: 1.2em;
	color: #35393F;
	font-weight: normal;
	overflow: hidden;
	height: 96px;
	width: 545px;
}

.doc-min {
	float: left;
	height: 140px;
	width: 545px;
}

.doc-min h4 a {
	font-size: 1.3em;
	line-height: 1.4em;
	color: #444444;
	font-weight: lighter;
}

.doc-list .img {
	width: 136px;
	height: 136px;
	float: left;
	margin: auto;
	margin-right: 5px;
	text-decoration: none;
	border: 0;
}

.img img {
	max-width: 100%;
	max-height: 100%;
}

.pane_right_sec {
	width: 260px;
	padding: 10px;
	height: 140px;
	margin: auto;
	text-align: left;
	font-size: 1.2em;
	line-height: 1.2em;
	float: left;
}

.pane_right_sec h4, .flickr-stream h4, .platform-news h4, .post-tags h4
	{
	font-size: 1.3em;
	line-height: 1.4em;
	color: #444444;
	font-weight: lighter;
}

.platform-news h5, .post-tags h5 {
	font-size: .7em;
	line-height: 1.2em;
	color: #444444;
	font-weight: bold;
}

.platform-news h6, .post-tags h6 {
	font-size: .65em;
	line-height: 1.2em;
	color: #444444;
	font-weight: lighter;
	font-style: italic;
}

.navigation h4 a:LINK, .navigation h4 a:VISITED, .navigation h4 a:ACTIVE
	{
	color: #444444;
}

.tpe_sec h4 a:HOVER,{
	font-weight: bold;
	text-decoration: underline;
}

.pane_left .tpe_sec_img {
	width: 136px;
	height: 136px;
	float: left;
	margin: auto;
	margin-right: 5px;
	text-decoration: none;
	border: 0;
}

.pane_right_sec .tpe_sec_img {
	width: 80px;
	height: 80px;
	float: left;
	margin: 3px;
	text-decoration: none;
	border: 0;
}

.tpe_sec_img img {
	max-width: 100%;
	max-height: 100%;
}

.pane_left a {
	text-decoration: none;
	color: #656360;
}

.navigation, .navigation h4, .navigation a {
	color: #fff;
	font-size: 1.1em;
	line-height: 1.4em;
	text-decoration: none;
}
h4.navigation {
	background: #47939C;
}

.navigation a {
	margin-right: 7px;
	font-weight: lighter;
}

.navigation h4 a:HOVER, .navigation a:HOVER {
	text-decoration: none;
	color: #416A30;
}

.sec_details {
	text-align: left;
	font-size: 1.4em;
	line-height: 1.5em;
	background: #fff;
	-webkit-box-shadow: 0 1px 3px #666;
	-o-box-shadow: 0 1px 3px #666;
	box-shadow: 0 1px 3px #666;
	padding: 10px;
	margin: 10px auto;
}

div#loading {
	margin: auto;
	position: absolute;
	top: 30%;
	left: 45%;
	z-index: 1000;
}

div#dialog-plot {
	position: relative;
	width: 100%;
	height: auto;
	height: 100%;
}

div#dialog-chart {
	width: auto;
	width: 800px;
	/* height: auto; */
	height: 80%;
	float: left;
}

div#dialog-infos {
	width: auto;
	width: 200px;
	/* height: auto; */
	height: 80%;
	float: left;
	border: 1px solid #4e2700;
	margin-left: 5px;
}

.guide_list {
	margin-left: 30px;
}

.item_bold {
	font-weight: bold;
}

div#plot_slide, .rain_radiation, .soil_plot {
	display: none;
}

#plot_slide h2 {
	font-size: 2em;
	line-height: 1.8em;
}

#plot_slide h3 {
	font-size: 1em;
	line-height: 1.5em;
	margin: 0;
	margin-top: 5px;
	color: #444;
	border: none;
	-webkit-box-shadow: 0 1px 3px #666;
	-o-box-shadow: 0 1px 3px #666;
	box-shadow: 0 1px 3px #666;
	filter: alpha(opacity = 90); /* IE */
	-moz-opacity: 0.9; /* Mozilla */
	opacity: 0.9; /* CSS3 */
	background-color: #fff;
	width: 243px;
}

.current_grafico {
	background-color: #c3d69b;
	color: #656360 !important;
}

.guide-big {
	margin-top: 20px;
}

.guide-big img {
	max-width: 100%;
	max-height: 100%;
}

.guide-small {
	margin-top: 20px;
}

.guide-small img {
	max-width: 100%;
	max-height: 100%;
}

div#join_form {
	text-align: left;
	font-size: 16px;
	line-height: 1.5em;
	color: #000000;
	font-weight: normal;
	-webkit-box-shadow: 0 1px 3px #666;
	-o-box-shadow: 0 1px 3px #666;
	box-shadow: 0 1px 3px #666;
	background: #fff;
	padding: 10px;
	margin: 10px auto;
	float: right;
	width: 45%;
}
/*========================= GET INVOLVED ============================*/
div#get-involved-home,div#home_container{
	position: relative;
	padding: 20px;
}

div#get-involved-container,div#home_panel {
	position: relative;
	width: 500px; 
	height: 500px;
	margin: auto;
}
div#get-involved-top,div#panel-top {
	 left: 125px;
}
div#get-involved-left,div#panel-left {
	 left: 0;top: 125px;
}
div#get-involved-right,div#panel-right {
	 right: 0;top: 125px;
}
div#get-involved-bottom,div#panel-bottom {
	 bottom: 0;left: 125px;
}
.get-involved-box,.panel-box {
	 width: 250px; height: 250px; position: absolute;
	 cursor: pointer;
}
#get-involved-top:HOVER,#get-involved-left:HOVER,#get-involved-right:HOVER,#get-involved-bottom:HOVER,
#panel-top:HOVER,#panel-left:HOVER,#panel-right:HOVER,#panel-bottom:HOVER {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  background: #f1ede8 url("../img/noise-all.png");
  z-index: 500;
   /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 50%; 
  /* Firefox 1-3.6 */
  -moz-border-radius: 50%; 
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 50%;
}
div#home-panel-infos{
	display: none;
position: absolute;
	font-size: 13px;
	/* text-align: center; */
	text-align: left;
	box-shadow: 0 4px 6px -4px #333;
	padding: 5px 10px;
	background: rgb(255, 255, 255);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%,
		rgba(245, 245, 245, 1) 100%);
	border: rgb(229, 229, 229) 1px solid;
	/*width: 250px;*/
	width: 300px;
	height: auto;
	z-index: 1000;
	color: #656360;
/*top: 10px;
right: 300px;*/
}
 
.panel-img{
	display: block;
   width: 100% !important;
    height: auto !important;
}
.step-img,.step-img-large{
	display: block;
    height: auto !important;
    margin: auto;
    
}
.step-img,.step-parent{
	width: 250px;
}
.step-img-large,.step-parent-large{
	width: 420px;
}
.step-img img{
   margin: auto;
}
 
.step-parent,.step-parent-large{
	position: relative;
	height: auto;
	 margin-left: auto;
	 margin-right: auto;
}









div#get-involved {
	position: relative;
}

div#get-involved-info {
	float: left;
	width: 50%;
	-webkit-box-shadow: 0 1px 3px #666;
	-o-box-shadow: 0 1px 3px #666;
	box-shadow: 0 1px 3px #666;
	background: #fff;
	margin: 10px auto;
	padding: 10px;
}

#get-involved-info p {
	margin: 20px auto;
}

#join_form input[type=text], #contact_pane input[type=text], #join_form textarea,
	#contact_pane textarea,#user-main table input[type=text],#user-main table input[type=password],#user-main table input[type=select],#user-main table select {
	width: 100%;
	/* 	line-height: 1.6em;
	font-size: 16px; */
	padding: .5em .6em;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 4px;
	box-sizing: border-box;
	font-weight: 100;
	letter-spacing: 0.01em;
	font-size: 100%;
	vertical-align: baseline;
	-webkit-appearance: textfield;
	background-color: white;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	cursor: auto;
	text-align: start;
	display: block;
	margin: .25em 0;
	border: 1px solid #ccc;
}

#join_form input[type=text]:focus, #contact_pane input[type=text]:focus,
	#join_form textarea:focus, #contact_pane textarea:focus,#user-main table input[type=text]:focus {
	outline: 0;
	outline: thin dotted \9;
	border-color: #129FEA;
}

.join-text-label, .contact-text-label {
	line-height: 1.6em;
	font-size: 16px;
	font-weight: bold;
}

.join-text-area textarea, .contact-text-area textarea {
	width: 100%;
	line-height: 1.6em;
	font-size: 16px;
	height: 200px;
}

table#join_table {
	width: 450px;
	border: none;
	margin: auto;
	/* padding: 0; */
}

#join_table tr td {
	text-align: left;
	color: #000000;
	font-size: 16px;
	line-height: 1.5em;
	width: 100%;
}

.flickr-stream, .platform-news, .post-tags {
	width: 260px;
	padding: 10px;
	height: auto;
	margin: auto;
	text-align: left;
	font-size: 1.2em;
	line-height: 1.2em;
	float: left;
	-webkit-box-shadow: 0 1px 3px #666;
	-o-box-shadow: 0 1px 3px #666;
	box-shadow: 0 1px 3px #666;
	/* margin-bottom: 15px; */
	background: #fff;
}

.platform-news, .post-tags {
	margin-top: 15px;
}

.platform-news p {
	font-size: .75em;
	line-height: 1.2em;
}

.news-brief {
	margin: 10px auto;
	background: #000;
	padding-left: 6px;
}

.news-brief h5 a, .news-brief h5 a:VISITED, .news-brief h5 a:ACTIVE {
	text-decoration: none;
	color: #000;
}

.news-brief h5 a:HOVER {
	text-decoration: underline;
}

.news-brief div:first-child {
	background: #fff;
	padding-left: 6px;
}

.flickr-img {
	float: left;
	width: 80px;
	height: 80px;
	margin: 3px;
	text-decoration: none;
	border: 0;
	max-width: 100%;
	max-height: 100%;
}

.flickr-img img {
	width: 100%;
	height: 100%;
}

.pane_right_sec .tpe_sec_img img {
	width: 80px;
	height: 80px;
	float: left;
	margin: 3px;
	text-decoration: none;
	border: 0;
}
.post h1,.post h1 a:HOVER{
	color: #47939C;
	text-decoration: underline;
}
div#posts .post h1{
	font-size: 1.2em;
	line-height: 1.4em;
	font-weight: normal;
}
.post h1 a{
	font-size: 1.2em;
	line-height:1.4em;
	font-style: normal;
	font-weight: normal;
}
.button-send, .button-add {
	background: rgb(28, 184, 65); /* this is a green */
	color: white;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	padding: .5em 1em;
	/* vertical-align: baseline; */
	height: 2em;
	border: 0 rgba(0, 0, 0, 0);
}

.button-send:focus, .button-add:FOCUS {
	outline: 0
}

.button-send:active, .button-add:ACTIVE {
	box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) inset, 0 0 6px
		rgba(0, 0, 0, .2) inset;
}

.button-send:hover, .button-send:focus, .button-add:HOVER, .button-add:FOCUS
	{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',
		endColorstr='#1a000000', GradientType=0);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent),
		color-stop(40%, rgba(0, 0, 0, .05)), to(rgba(0, 0, 0, .1)));
	background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .05)
		40%, rgba(0, 0, 0, .1));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, .05) 0,
		rgba(0, 0, 0, .1));
	background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, .05) 40%,
		rgba(0, 0, 0, .1));
	background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%,
		rgba(0, 0, 0, .1))
}

#lean_overlay {
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
}

#welcome-infos {
	width: 404px;
	padding-bottom: 2px;
	display: none;
	background: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.7);
	z-index: 1200;
}

div#welcome-trigger {
	display: none;
}

#welcome-infos-header {
	background: url(../img/hd-bg.png);
	padding: 18px 18px 14px 18px;
	border-bottom: 1px solid #CCC;
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
}

#welcome-infos-header  h2 {
	color: #444;
	font-size: 2em;
	font-weight: 700;
	margin-bottom: 3px;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}

#welcome-infos-header  p {
	color: #444;
	font-size: 1.3em;
	margin: 0;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
	text-shadow: none;
}

#welcome-infos .txt-fld {
	position: relative;
	width: 364px;
	padding: 14px 20px;
	border-bottom: 1px solid #EEE;
	text-align: right;
}

#welcome-infos .btn-fld {
	width: 254px;
	overflow: hidden;
	padding: 12px 20px 12px 130px;
}

#welcome-infos .txt-fld label {
	display: block;
	float: left;
	width: 90px;
	padding-top: 8px;
	color: #222;
	font-size: 1.3em;
	text-align: left;
}

#welcome-infos .txt-fld input {
	width: 244px;
	padding: 8px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-size: 1.2em;
	color: #222;
	background: #F7F7F7;
	font-family: "Helvetica Neue";
	outline: none;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #E7E6E6;
	border-bottom: 1px solid #E7E6E6;
}

#welcome-infos .txt-fld input.good_input {
	background: #DEF5E1 url(../img/close.png) 236px center no-repeat;
}

#welcome-infos .txt-fld input.error_input {
	background: #FDE0E0;
}

 
/*================= TAGS ======================*/
div#tags {
	float: left;
	clear: right;
	margin: auto;
	text-align: left;
	height: auto;
}

.tag {
	float: left;
	clear: right;
	margin: 0px 10px 10px 0px;
	text-align: left;
	line-height: 200%;
}

.tag a, .tag a:visited, .tag a:active {
	text-decoration: none;
	text-align: left;
	color: #656360;
}

.tag a:HOVER {
	text-decoration: underline;
	/* margin: 10px; */
	color: #8ba357;
}

div#tags-add {
	text-align: right;
}
/* Hide the dialog title bar */
/* .ui-dialog-titlebar { display:none; }  */
div#close-button {
	/* background: url('../img/close.png');  */
	width: 15px;
	height: 15px;
	border: 0px solid white;
	top: 0;
	right: 0;
	position: absolute;
	cursor: pointer;
	z-index: 999;
	font-weight: bolder;
}

#close-button:HOVER {
	color: #990000;
}

.notify-sent, .notify-sending, .sending-involved, .notify-involved {
	position: absolute;
	padding: 10px;
	height: auto;
	text-align: left;
	font-size: 1.2em;
	line-height: 1.2em;
	-webkit-box-shadow: 0 1px 3px #666;
	-o-box-shadow: 0 1px 3px #666;
	box-shadow: 0 1px 3px #666;
	background: #8ba357;
	color: #fff;
	display: none;
}

.notify-sent, .notify-sending {
	top: 5px;
	right: 130px;
	width: 260px;
}

.sending-involved, .notify-involved {
	top: 5px;
	right: 100px;
	width: 260px;
}
div#marker_clusterer{
	
}
#marker_clusterer h3{
	height: 33px;
	width: auto;
	padding-right: 35px;
}

table.inputform {
	width: 100%;
}

table.inputform input[type=text],table.inputform input[type=password],
table.rawform input[type=text],table.rawform input[type=password] {
	width: 100%;
}

table.inputform input[type=text].numeric-input,
table.rawform input[type=text].numeric-input {
	width: 80px;
}

table.inputform input[type=text].datetime-input,
table.rawform input[type=text].datetime-input {
	width: 160px;
}

table.inputform textarea,
table.rawform textarea {
	width: 100%;
	height: 60px;
	font-size: 12px;
}

table.inputform label {
	
}

table.inputform > tbody > tr > td:first-child, td.label {
	text-align: right;
	padding-right: 20px;
	vertical-align: middle;
}

table.inputform td.tdLabel {
	width: 200px;
}

table.inputform tr.identifying>td {
	font-weight: bold;
}

table.inputform tr.identifying>td em {
	font-weight: normal;
}

table.inputform tr[errorfor] {
	display: none;
}
table.inputform input[type='submit'],table.inputform input[type='button'],table.inputform input[type='reset'] {
	padding: 3px 5px;
	margin: 3px 8px;
	min-width: 100px;
}


/**====================== User Page =================**/
div#user-main{
	position: relative;
	margin: auto;
	width: 800px;
	height: auto;
	margin-top: 20px;
}
#user-main #users{
	margin: auto;
	width: 100%;
}

#user-main #user{
	margin: auto;
	width: 50%;
}
#user-main table{
	border-collapse:separate; 
}
#user-main #user-add{
	margin: auto;
	width: 50%;
}




